@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'poppins', sans-serif;
    font-size: 16px;
    background-color: black;
    margin: 0;
    padding: 0;
}

.page {
    position: relative;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Header styles */

@keyframes headerAnimation {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes bgAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.3;
    }
}

header {
    position: absolute;
    display: flex;
    align-items: center;
    height: 10vh;
    width: 100%;
    background-color: rgba(8, 8, 7, 0);
    z-index: 100;
    animation: headerAnimation 1.5s ease;
    transition: all 0.5s ease;
}


header ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin-left: 20px;
}


header ul li {
    display: flex;
    margin: 0px 10px;
}

header ul li a {
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
    font-size: clamp(0.8rem, 0.7200000000000001rem + 0.3999999999999999vw, 1.2rem);
    font-weight: bold;
    border-radius: 30px;
    transition: all 0.5s ease;
    margin: 0 10px;
}

header ul li a:hover {
    color: rgb(8, 110, 110);
}

header #logo {
    height: 27px;
    margin: auto 15px auto 0px;
    cursor: pointer;
}

/* Section one Home Styles */

section.main {
    display: flex;
    height: 100vh;
    align-items: center;
    
    background: linear-gradient(90deg, rgba(4, 37, 41, 0.77) 0%, rgba(0, 0, 0, 1) 47%);
}


section.main #bg-video {
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    opacity: 0.3;
    z-index: -99;
    animation: bgAnimation 3s ease;
    filter: hue-rotate(180deg);
}

.model {
    position: absolute;
    scale: 1.6;
    right: -5%;
}


#bg-video::-webkit-media-controls {
  display: none !important;
}


#details {
    display: flex;
    flex-direction: column;
    width: 800px;
    margin: 0 8%;
    animation: appear 2s ease   ;
    z-index: 99;
}

#details h1 {
    color: white;
    margin: 0;
}

#first-name {
    font-size: 1.25rem;
    font-size: clamp(1.25rem, 0.875rem + 1.875vw, 3.125rem);
}

#second-name {
    color: rgb(21, 138, 132);
}

#des {
    color: rgb(255, 255, 255);
    font-size: 0.75rem;
    font-size: clamp(0.75rem, 0.65rem + 0.5vw, 1.25rem);
    font-weight: normal;
    line-height: 35px;
    margin: 20px 0;
}

#position {
    font-size: 0.8125rem;
    font-size: clamp(0.8125rem, 0.6625rem + 0.75vw, 1.5625rem);
    font-weight: normal;
    letter-spacing: 5px;
    transition: opacity 1s ease-in;
}

#action-home {
    display: flex;
    margin: 20px 0;
}

#action-home a {
    font-size: 0.8125rem;
    font-size: clamp(0.8125rem, 0.725rem + 0.43750000000000006vw, 1.25rem);
    font-weight: bold;
    color: rgb(0, 82, 78);
    text-decoration: none;
    margin-right: 30px;
    padding: 5px 15px;
    border-radius: 20px;
    background: linear-gradient(90deg,rgba(255, 255, 255, 1) 0%, rgba(185, 255, 71, 1) 30%, rgba(0, 255, 229, 1) 67%, rgba(255, 255, 255, 1) 100%);
    background-size: 200%   ;
    box-shadow: 0 0 15px rgb(119, 119, 119);
    transform: scale(1);
    transition: transform 0.2s linear;
    animation: gradient 2.5s linear infinite;
}

@keyframes gradient {
    to {
        background-position: 200%;
    }
}

#action-home a:hover {
    transform: scale(1.05);
}

/* home text animations */
@keyframes appear {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes child2Animation {
    from {margin-right: 0px;}
    to {margin-right: 15px;}
}

@keyframes child1Animation {
    from {margin-right: 0px;}
    to {margin-right: 5px;}
}

#first-name span:nth-child(2) {
    animation: child2Animation 1.3s;
}

#first-name span:nth-child(2) {
    margin-right: 15px; 
}

#first-name span:nth-child(3) {
    animation: child2Animation 1.3s ;
}

#first-name span:nth-child(3) {
    margin-right: 15px;
}

#first-name span:nth-child(1) {
    animation: child1Animation 1.3s  ;
}

#first-name span:nth-child(1) {
    margin-right: 5px; 
}

#first-name span:nth-child(1)::after {
    content: "'";
}

/* Aboutme page styles */

section.aboutme {
    height: 100vh;
}

/* Responsive media queries */
@media (max-width: 1024px) {
    /* for Tablets */
    header #logo {
        height: 22px;
    }

    header ul li {
        margin: 0px 10px;
    }

    #details {
        margin-top: 50%;
    }

    #des {
        line-height: 25px;
        margin: 20px 0;
    }

    #position {
        letter-spacing: 5px;
    }

    #action-home a {
        margin-right: 25px;
        padding: 5px 10px;
    }

    #action-home a:hover {
        transform: scale(1.05);
    }
    .model {
        scale: 1.05;
        top: -32%;
        right: 25%;
    }
    
}


@media (max-width: 768px) {
    /* for Mobiles */
    header #logo {
        height: 22px;
    }

    header ul li {
        margin: 0px 10px;
    }

    #details {
        margin-top: 0;
    }

    #des {
        line-height: 25px;
        margin: 20px 0;
    }

    #position {
        letter-spacing: 2px;
    }

    #action-home a {
        margin-right: 25px;
        padding: 5px 10px;
    }

    #action-home a:hover {
        transform: scale(1.05);
    }

    .model {
       display: none;
    }
}

@media (max-width: 480px) {
     /* styles for small phones like iPhones, Androids */
    header #logo {
        height: 15px;
    }

    header ul li {
        margin: 0px 3px;
    }

    #des {
        line-height: 25px;
        margin: 20px 0;
    }

    #position {
        letter-spacing: 1px;
    }

    #action-home a {
        margin-right: 20px;
        padding: 5px 10px;
    }

    #action-home a:hover {
        transform: scale(1.05);
    }

    .model {
        display: none;
    }
}
