html {
    scroll-behavior: smooth;
}

body {
    font-family: 'poppins', sans-serif;
    font-size: 16px;
    background-color: #000000;
    margin: 0;
    padding: 0;
    transition: opacity 0.5s ease;
}

.preloader {
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: opacity 0.3s ease;
    background-color: #000000;
}

.preloader-text {
    position: fixed;
    display: flex;
    flex-direction: column;
}

.preloader-title {
    font-family: "poppins";
    font-size: 3rem;
    font-size: clamp(3rem, 1.5999999999999999rem + 7.000000000000001vw, 10rem);    
    background: #ffffff;
    background: #ffffff;
    background: linear-gradient(90deg,rgba(255, 255, 255, 1) 0%, rgba(199, 199, 199, 1) 23%, rgba(150, 150, 150, 1) 50%, rgba(199, 199, 199, 1) 79%, rgba(255, 255, 255, 1) 100%);
    background-clip: text;
    background-size: 200%;
    color: transparent;
    margin: 0;
    line-height: 250px;
    animation: preloader-animation 2s linear infinite;
}

@keyframes preloader-animation {
    to {background-position: 200%;}
}

.page {
    opacity: 1;
    display: none;
    position: relative;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    transition: opacity 0.3s ease;
}

/* Header styles */

@keyframes headerAnimation {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes headerscroll {
    from {opacity: 1; transform: scale(1);}
    to {opacity: 0; transform: scale(0.9);}
}

.headerscroll {
    position: fixed;
    width: 100%;
    transform-origin: left;
    animation: headerscroll linear forwards;
    animation-timeline: scroll(root);
    animation-range: exit 0% 20%;
}

header {
    position: fixed;
    display: flex;
    align-items: center;
    height: 10vh;
    width: 100%;
    z-index: 100;
    animation: headerAnimation 1.5s ease;
}


header ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin-left: 20px;
}


header ul li {
    display: flex;
    margin: 0px 10px;
}

header ul li a {
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
    font-size: clamp(0.8rem, 0.7200000000000001rem + 0.3999999999999999vw, 1.2rem);
    font-weight: bold;
    border-radius: 30px;
    transition: all 0.5s ease;
    margin: 0 10px;
    cursor: pointer;
}

header ul li a:hover {
    color: rgb(160, 160, 160);
    transform: scale(1.1);
}

header #logo {
    height: 27px;
    margin: auto 15px auto 0px;
    cursor: pointer;
}

/* Bg sections */
.bg-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.homeblur {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    transition: filter 1s ease;
}

.homeblur.blur {
    filter: blur(10px);
}

#bg-video {
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    opacity: 0.3;
    z-index: -99;
    filter: saturate(0);
}


#bg-video::-webkit-media-controls {
  display: none !important;
}

.home-text {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    z-index: -1;
    animation: scrolling-text linear forwards;
    animation-timeline: scroll(root);
    animation-range: exit 0% 20%;
}

.home-title {
    font-family: "Poppins";
    font-size: 11.5rem;
    background: #ffffff;
    background: linear-gradient(90deg,rgba(255, 255, 255, 1) 0%, rgba(199, 199, 199, 1) 23%, rgba(150, 150, 150, 1) 50%, rgba(199, 199, 199, 1) 79%, rgba(255, 255, 255, 1) 100%);    
    background-clip: text; 
    color: transparent;
    background-size: 200%;
    margin: 0;
    line-height: 0.8;
    animation: preloader-animation 3s linear infinite;
}



@keyframes scrolling-text {
    to {opacity: 0; transform: scale(0.9);}
}


.home-des {
    display: none;
    color: white;
    margin: 0;
    font-size: 1rem;
    font-size: clamp(1rem, 0.5634517766497462rem + 2.030456852791878vw, 3rem);
}

@keyframes child1 {
    from {margin-right: 0;}
    to {margin-right: 15px;}
}

.home-des span:nth-child(1) {
    color: rgb(151, 151, 151);
    animation: child1 1.5s ease forwards;
}

.home-des span:nth-child(2) {
  animation: child1 1.5s ease forwards;
}

#contact {
    position: absolute;
    height: 5em;
    width: 5em;
    left: 2%;
    bottom: 3%;
    transition: 
        height 0.5s ease,
        width 0.5s ease,
        border-radius 0.5s ease;
    margin: 10px 10px;
    border-style: none;
    border-radius: 20em;
    animation: scrolling-text linear forwards;
    animation-timeline: scroll(root);
    animation-range: exit 0% 20%;
}

#contact.clicked {
    height: 20em;
    width: 18em;
    border-radius: 2em;

}

#contactImg.active {
    display: none;
}

/* Aboutme page styles */

section.aboutme {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ffffff00;
}

#homeBtn {
    position: fixed;
    right: 2%;
    bottom: 4%;
    padding: 0.5em 0.5em;
    margin: 10px 10px;
    border-radius: 20em;
    opacity: 0;
    animation: home linear forwards;
    animation-timeline: scroll(root);
    animation-range: exit 0% 30%;
}

@keyframes home {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes sec-content {
    from {
        transform: scale(0.8);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.aboutme-content {
    display: flex;
}

.about-title {
    font-size: 3rem;
    margin: 50px auto;
    color: rgb(255, 255, 255);
    transform: scale(0.8);
    animation: sec-content linear forwards;
    animation-timeline: scroll(root);
    animation-range: entry 30% 50%;
    will-change: transform, opacity;
    opacity: 0;
    
}

.test {
    background-color: #313131;
    height: 100vh;
}

/* Responsive media queries */

@media (max-width: 1024px) {
    /* for Tablets */
    header #logo {
        height: 22px;
    }

    header ul li {
        margin: 0px 10px;
    }
}


@media (max-width: 768px) {
    /* for Mobiles */
    header #logo {
        height: 22px;
    }

    header ul li {
        margin: 0px 10px;
    }

}

@media (max-width: 480px) {
     /* styles for small phones like iPhones, Androids */
    header #logo {
        height: 15px;
    }

    header ul li {
        margin: 0px 3px;
    }

}
