html {
    scroll-behavior: smooth;
}

body {
    font-family: 'poppins', sans-serif;
    font-size: 16px;
    background-color: #000000;
    margin: 0;
    padding: 0;
    transition: opacity 0.5s ease;
}


/* Header styles */

header {
    position: absolute;
    display: flex;
    align-items: center;
    height: 10vh;
    width: 100%;
    z-index: 999;
}

header nav {
    display: flex;
}

header ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin-left: 20px;
}


header ul li {
    display: flex;
    margin: 0px 10px;
}

header ul li a {
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
    font-size: clamp(0.8rem, 0.7200000000000001rem + 0.3999999999999999vw, 1.2rem);
    font-weight: bold;
    border-radius: 30px;
    transition: all 0.5s ease;
    margin: 0 10px;
    cursor: pointer;
}

header ul li a:hover {
    color: #DDE6ED;
    transform: scale(1.1);
}

header #logo {
    height: 27px;
    margin: auto 15px auto 0px;
    cursor: pointer;
}

header a:focus,
header a:active {
    outline: none;
    box-shadow: none;
}